<p id="notice"><%= notice %></p>

<h1>Listing Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Grade</th>
      <th>End date</th>
      <th>Status</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.type %></td>
        <td><%= qualification.title %></td>
        <td><%= qualification.grade %></td>
        <td><%= qualification.end_date %></td>
        <td><%= qualification.status %></td>
        <td><%= qualification.school %></td>
        <td><%= link_to 'Show', qualification %></td>
        <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
        <td><%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_qualification_path %>
