<p id="notice"><%= notice %></p>

<p>
  <strong>Paab complete:</strong>
  <%= @trade_career.paab_complete %>
</p>

<p>
  <strong>Paab result:</strong>
  <%= @trade_career.paab_result %>
</p>

<p>
  <strong>Next paab:</strong>
  <%= @trade_career.next_paab %>
</p>

<p>
  <strong>Tiffy maths req:</strong>
  <%= @trade_career.tiffy_maths_req %>
</p>

<p>
  <strong>Tiffy maths complete:</strong>
  <%= @trade_career.tiffy_maths_complete %>
</p>

<p>
  <strong>Class 2:</strong>
  <%= @trade_career.class_2 %>
</p>

<p>
  <strong>Class 1:</strong>
  <%= @trade_career.class_1 %>
</p>

<p>
  <strong>Artificer:</strong>
  <%= @trade_career.artificer %>
</p>

<%= link_to 'Edit', edit_trade_career_path(@trade_career) %> |
<%= link_to 'Back', trade_careers_path %>
