<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @address.type %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @address.street_address %>
</p>

<p>
  <strong>Street address 2:</strong>
  <%= @address.street_address_2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @address.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @address.post_code %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
