<h1>New Subordinate Role</h1>

<%= semantic_form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs do %>
    <%= f.inputs :pid %>
    <%= f.inputs :description %><br>
    <%= f.inputs :section %>
    <%= f.hidden_field :parent_id %>
  <% end %>
  <%= f.actions %>
<% end %>

<%= link_to 'Back', roles_path %>
